@layer mantine, mantine-datatable;

html,
body {
    min-height: 100vh;
    /*background: linear-gradient(180deg, #ddf4ff 0%, #54aeff 40%, #033d8b 100%);*/
}

#root {
    height: 100vh;

    @mixin dark {
        .mrt-table-head-sort-button {
            border-radius: 0;
            border: none;
        }
        .mrt-table-head-cell-filter-label-icon {
            border-radius: 0;
            border: none;
        }
    }
}
